.comment-box {
  width: 280px;
  padding: 8px;
  text-align: justify;
  font-weight: 500;
}
.comment-box__child-comments {
  width: 280px;
  margin-top: 8px;
  margin-left: 40px;
  padding: 0 8px;
  border-left: 1px solid black;
}
.comment-box__show-replies-btn {
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-weight: 600;
  outline: none;
  border: none;
  background: none;
  height: fit-content;
}
